/* Stylesheet for Tortoiseshell Optics, a Codecademy project
   J Stuart Harris

   See redline for details.
   Background colors are: white, azure and cadetblue.
 */

html,
body {
  font-family: Helvetica, sans-serif;
  font-size: 18px;
  color: black;
  background-color: white;
}

:root {

}

section {
  width: 100%;
  display: flex;
  justify-content: center;

}

.sitecontainer {
  width: 960px;
}
/*
<section id="banner" class="cbanner">
  <div class="sitecontainer">
    <div class="topmenu">
      <span class="logotxt">Tortoiseshell Optics</span>
      <nav>
*/
.cbanner {
  height: 31rem;
  /* DEBUG: border: 1px solid blue; */
  background-image: url("../images/glasses-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.topmenu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  background-color: cadetblue;
  width: 100%;
  height: 3rem;
  margin-top: 1rem;
  padding: 0 1rem;
  /* DEBUG: border: 1px solid green; */
/*  margin: 1rem 0 0 0;*/
}

.topmenu span {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 1rem;
  padding: 0;
  /* DEBUG: border: 1px solid black; */
}

.topmenu span img {
  height: 1.5rem;
}

.logotxt {
  font-size: 1rem;
  margin: 0;
  padding: 0;
  /* DEBUG: border: 1px solid yellow; */
}

li {
  display: inline-flex;
  padding: 0 1rem;
}

nav {
  display: inline-flex;
  justify-content: flex-end;
  /* DEBUG: border: 1px solid brown; */
}
/*

.callout  {
  display: block;
  position: absolute;
  padding: 1.5rem 5rem;
  height: 1rem;
  width: 15rem;
  top: 10rem;
  left: 16rem;
  background-color: gray;
}
*/
