/* Stylesheet for Tortoiseshell Optics, a Codecademy project
   J Stuart Harris

   See redline for details.
   Background colors are: white, azure and cadetblue.
 */

html,
body {
  font-family: Helvetica, sans-serif;
  font-size: 18px;
  color: black;
  background-color: white;
}

section,
footer {
  width: 100%;
  display: flex;
  justify-content: center;

}

.sitecontainer {
  width: 960px;
}

/* ***** Banner section
 */
.cbanner {
  height: 31rem;
  /* DEBUG: border: 1px solid blue; */
  background-image: url("../images/glasses-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.topmenu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  background-color: cadetblue;
  width: 100%;
  height: 3rem;
  margin-top: 1rem;
  padding: 0 1rem;
  /* DEBUG: border: 1px solid green; */
/*  margin: 1rem 0 0 0;*/
}

.topmenu span {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 1rem;
  padding: 0;
  /* DEBUG: border: 1px solid black; */
}

.topmenu span img {
  height: 1.5rem;
}

.logotxt {
  font-size: 1rem;
  margin: 0;
  padding: 0;
  /* DEBUG: border: 1px solid yellow; */
}

li {
  display: inline-flex;
  padding: 0 1rem;
}

nav {
  display: inline-flex;
  justify-content: flex-end;
  /* DEBUG: border: 1px solid brown; */
}

.navsmall {
  display: none;
}

.relpos {
  position: relative;
}

.callout  {
  display: block;
  position: absolute;
  padding: 1.5rem 5rem;
  top: 14rem;
  right: -4rem;
  background-color: white;
}

.callout span {
  margin: 0;
  padding: 0;
  font-size: 2rem;
  font-weight: bold;
  line-height: 1.2;
}

/* Services section
 */
.cservices {
  padding: 3rem 0;
}

.svccontainer {
  display: flex;
  justify-content: center;
}

.imgblock {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: column nowrap;
  height: 8rem;
  width: 5rem;
  margin: 0 3rem;
}

.imgblock img {
  max-width: 4.5rem;
}

.imgblock img[alt^="Exam"] {
  max-width: 3.5rem;
}

.imgblock h3 {
  text-align: center;
}

/* ***** Information section
 */
.infocontainer {
  display: flex;
  justify-content: center;
  margin-bottom: 5rem;
}

.infoblock {
  display: flex;
  flex-flow: row wrap;
  align-content: flex-start;
  width: 35%;
  margin: 0 2.5%; /* gives 5% between the two blocks */
}

.infoheader {
  color: white;
  background-color: cadetblue;
  font-size: 1rem;
  font-weight: bold;
  padding: .5rem 1.25rem .5rem 1.25rem;
  margin: 0;
  width: 10rem;
  height: 1rem;
  /* DEBUG border: 1px solid yellow; */
}

.infoblock p {
  margin-top: 1rem;
}

/* ***** Footer section
 */
.footercontainer {
  display: flex;
  align-items: center;
  background-color: azure;
  padding: 4rem;
}

.footercontainer img {
  height: 1.5rem;
  margin-right: 1rem;
}

/* ***** Add blank space at the end.
 */
.endspace {
  height: 6rem;
}

/* ***** Responsive design code
    The default size is full browser size.
    Next is tablet size, at 1024px wide
    Final is phone size, at 768px wide.
 */
 @media only screen and (min-width: 1025px) {
   /* wide: #menubar div nav; narrow: #menubar div span */
    /*body {
      color: cyan;
    }*/
    .navsmall {
      display: none;
    }
 }


 /* Tablet size, max width 1024px
  */

@media only screen and (max-width: 1024px) {

  .cbanner {
    height: 22rem;
  }

  .sitecontainer {
    width: 100%;
  }

  .topmenu {
    margin-top: 0;
  }
  nav {
    margin-right: 2rem;
  }

  .navsmall {
    display: none;
  }

  .callout  {
    padding: .75rem 4rem;
    top: 5rem;
    right: 2rem;
    background-color: white;
  }

  .callout span {
    font-size: 1.33rem;
  }

}

/* Phone size, max width 768px
 */

@media only screen and (max-width: 768px) {
  .cbanner {
    height: 17rem;
    background-position: 20%;
  }

  .sitecontainer {
    width: 100%;
  }

  .topmenu {
    margin-top: 0;
    padding: 0;
    width: 100%;
    max-width: 100%;
  }

  .relpos {
    width: 100%;
    padding: 0;
  }

  nav {
    margin-right: 2rem;
  }

  .navsmall {
    display: inline;
  }

  /* turn off unnecessary elements
   */
  .navlarge,
  .footercontainer span {
    display: none;
  }
  .topmenu span span {
    display: none;
  }
  /*.callout  {
    display: block;
    position: absolute;
    padding: 1.5rem 5rem;
    top: 14rem;
    right: -4rem;
    background-color: white;
  }
*/
  .callout {
    width: 100%;
    background-color: white;

    display: flex;
    flex-flow: row nowrap;
    justify-content: center;

    position: absolute;
    top: 11rem;
    right: initial;
    left: 0;

    padding: 1rem 0;
    margin: 0 auto;
  }

  .callout span {
    font-size: 1rem;
    padding: 0;
  }

  .cservices {
    padding: 0;
  }

  .svccontainer {
    flex-flow: column nowrap;
    align-items: center;
    margin: 3.77rem 0;
  }

  .imgblock {
    margin-top: 1.54rem;
    justify-content: flex-start;
  }

  .imgblock img {
    margin-bottom: 1rem;
  }

  .imgblock img[alt^="Exam"] {
    margin-top: 0;
  }

  .infocontainer {
    flex-flow: column nowrap;
    align-items: center;
  }

  .infoblock p {
    font-size: .77rem;
    margin-top: 1rem;
    margin-bottom: 4rem;
  }

  .footercontainer {
    justify-content: center;
  }

}
