/* Stylesheet for Tortoiseshell Optics, a Codecademy project
   J Stuart Harris

   See redline for details.
   Background colors are: white, azure and cadetblue.
 */

html,
body {
  font-family: Helvetica, sans-serif;
  font-size: 18px;
  color: black;
  background-color: white;
}

section {
  width: 100%;
  display: flex;
  justify-content: center;

}

.sitecontainer {
  width: 960px;
}

/* ***** Banner section
 */
.cbanner {
  height: 31rem;
  /* DEBUG: border: 1px solid blue; */
  background-image: url("../images/glasses-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.topmenu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  background-color: cadetblue;
  width: 100%;
  height: 3rem;
  margin-top: 1rem;
  padding: 0 1rem;
  /* DEBUG: border: 1px solid green; */
/*  margin: 1rem 0 0 0;*/
}

.topmenu span {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 1rem;
  padding: 0;
  /* DEBUG: border: 1px solid black; */
}

.topmenu span img {
  height: 1.5rem;
}

.logotxt {
  font-size: 1rem;
  margin: 0;
  padding: 0;
  /* DEBUG: border: 1px solid yellow; */
}

li {
  display: inline-flex;
  padding: 0 1rem;
}

nav {
  display: inline-flex;
  justify-content: flex-end;
  /* DEBUG: border: 1px solid brown; */
}

.relpos {
  position: relative;
}

.callout  {
  display: block;
  position: absolute;
  padding: 1.5rem 5rem;
  top: 14rem;
  right: -4rem;
  background-color: white;
}

.callout span {
  margin: 0;
  padding: 0;
  font-size: 2rem;
  font-weight: bold;
  line-height: 1.2;
}

/* Services section
 */
.cservices {
  padding: 3rem 0;
}

.svccontainer {
  display: flex;
  justify-content: center;
}

.imgblock {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: column nowrap;
  height: 8rem;
  width: 5rem;
  margin: 0 3rem;
}

.imgblock img {
  max-width: 3.5rem;
}

.imgblock h3 {
  text-align: center;
}

/* ***** Information section
 */
.infocontainer {
  display: flex;
  justify-content: center;
  margin-bottom: 5rem;
}

.infoblock {
  display: flex;
  flex-flow: row wrap;
  align-content: flex-start;
  width: 35%;
  margin: 0 2.5%; /* gives 5% between the two blocks */
}

.infoheader {
  color: white;
  background-color: cadetblue;
  font-size: 1rem;
  font-weight: bold;
  padding: .5rem 1.25rem .5rem 1.25rem;
  margin: 0;
  width: 10rem;
  height: 1rem;
  border: 1px solid yellow;
}

.infoblock p {
  margin-top: 1rem;
}
/* ***** Add blank space at the end.
 */
.endspace {
  height: 6rem;
}
